
<h1>EDIT IDEA: <%= current_user.name %>!</h1>

<h3>Mandatory fields: Title, Category, Inspiration, and Summary</h3>
<form class="" method="POST" action="/ideas/<%= @idea.id %>">
    <input type="hidden" name="_method" value="patch" />

    <p><label for="title">Title</label>
    <textarea name="title" style="width:auto; height:auto;"><%= @idea.title %></textarea></p>

    <p><label for="category">Category</label>
    <textarea name="category" style="width:auto; height:auto;"><%= @idea.category %></textarea></p>

    <p><label for="inspiration">Inspiration</label>
    <textarea name="inspiration" style="width:auto; height:auto;"><%= @idea.inspiration %></textarea></p>

    <p><label for="summary">Summary</label>
    <textarea name="summary" style="width:auto; height:auto;"><%= @idea.summary %></textarea></p>

    <p><label for="timeline_plan">Timeline Plan</label>
    <textarea name="timeline_plan" style="width:auto; height:auto;"><%= @idea.timeline_plan %></textarea></p>

    <p><label for="action_steps_accomplished">Action Steps Accomplished</label>
    <textarea name="action_steps_accomplished" style="width:auto; height:auto;"><%= @idea.action_steps_accomplished %></textarea></p>

    
    <p><label for="resources">Resources</label>
    <textarea name="resources" style="width:auto; height:auto;"><%= @idea.resources %></textarea></p>


    <p><label for="total_budgeted_dollars">Total Budgeted Dollars</label>
    <textarea name="resototal_budgeted_dollarsurces" style="width:auto; height:auto;"><%= @idea.total_budgeted_dollars %></textarea></p>


    <p><label for="total_spent_dollars">Total Spent Dollars</label>
    <textarea name="total_spent_dollars" style="width:auto; height:auto;"><%= @idea.total_spent_dollars %></textarea></p>

        
    <input type="submit" name="" value="EDIT" />
</form>


