
<h3><a href="/ideas/<%= @idea.id %>/edit">EDIT: <%= @idea.title %></a></h3>


<h1><%= @idea.title %></h1>
<h4>CATEGORY</h4>
<p><%= @idea.category %></p>
<h4>INSPIRATION</h4>
<p><%= @idea.inspiration %></p>
<h4>SUMMARY</h4>
<p><%= @idea.summary %></p>
<h4>DATE CREATED</h4>
<p><%= @idea.date_created %></p>
<h4>TIMELINE PLAN</h4>
<p><%= @idea.timeline_plan %></p>
<h4>DEADLINE DATE</h4>
<p><%= @idea.deadline_date %></p>
<h4>ACTION STEPS ACCOMPLISHED</h4>
<p><%= @idea.action_steps_accomplished %></p>
<h4>RESOURCES</h4>
<p><%= @idea.resources %></p>
<h4>TOTAL BUDGETED DOLLARS</h4>
<p><%= @idea.total_budgeted_dollars %></p>
<h4>TOTAL SPENT DOLLARS</h4>
<p><%= @idea.total_spent_dollars %></p>
<h4>REMAINING BUDGETED DOLLARS</h4>
<p><%= @idea.remaining_budgeted_dollars %></p>
<h4>WITHIN BUDGET</h4>
<p><%= @idea.within_budget %></p>









